raw_data/
predicted_data/

**/.DS_Store/
.env
.env.yaml
abir.DS_Store/
afallo.DS_Store/
EDA_Victor/.DS_Store/
felix.DS_Store/

brain/.DS_Store/
raw_data/.DS_Store/
notebooks/.DS_Store/
.DS_Store/
.DS_Store
data/
.python-version

brain/__pycache__
brain/ml_logic_classification/__pycache__
brain/ml_logic_segmentation2D/__pycache__
brain/ml_logic_segmentation3D/__pycache__
brain/api/__pycache__
